In [6]:
import pandas as pd
import numpy as np

In [5]:
from optionlab import Inputs
from optionlab import StrategyEngine

Experiment more with OptionLab. greeks are incorrect. Can pricing model be altered?  

If not, quantlib may be best option despite complexity.

In [2]:
inputs_data = {
    "stock_price": 36.91,
    "start_date": "2024-08-07",
    "target_date": "2024-08-16",
    "volatility": 0.37,
    "interest_rate": 0.0509,
    "min_stock": 25,
    "max_stock": 40,
    "strategy": [
        {
            "type": "call",
            "strike": 37,
            "premium": 0.72,
            "n": 1,
            "action":"sell"
        },
        {
            "type": "call",
            "strike": 37.5,
            "premium": .55,
            "n": 1,
            "action":"buy"
        }
    ],
}

In [3]:
inputs = Inputs.model_validate(inputs_data)

In [7]:
st = StrategyEngine(inputs)
out = st.run()

In [12]:
out.delta

[-0.5081901001942646, 0.4273671442871983]

In [2]:
greeks = dict()
greeks['delta'] = 10.75
greeks['gamma'] = -1.57
greeks['theta'] = 0.083
greeks['vega'] = -0.41

In [19]:
lot_size = 1
multiplier = 100
iv = 0.3
s_0 = 37.58
dte = 33 # days
position_cost = -0.33
position_value = position_cost * lot_size * multiplier

In [50]:
s_min = round(s_0 * 0.99, 2)
s_max = round(s_0 * 1.01, 2)
price_range = np.arange(s_min, s_max, .05)
price_difference = price_range - s_0
adjusted_delta = greeks['delta'] + price_difference * greeks['gamma']
new_value = position_value + price_difference * adjusted_delta
pnl = new_value - position_value
delta_pnl = pd.DataFrame((price_range, pnl)).T
delta_pnl

        0         1
0   37.20 -4.311708
1   37.25 -3.718473
2   37.30 -3.133088
3   37.35 -2.555553
4   37.40 -1.985868
5   37.45 -1.424033
6   37.50 -0.870048
7   37.55 -0.323913
8   37.60  0.214372
9   37.65  0.744807
10  37.70  1.267392
11  37.75  1.782127
12  37.80  2.289012
13  37.85  2.788047
14  37.90  3.279232
15  37.95  3.762567