In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

from src.strategy import OptionStrategy
from src.greeks import GreeksDict

In [28]:
greeks_dict = GreeksDict(
    delta= .27,
    gamma = .12,
    theta = -3.34,
    vega = 0.02,
)

In [39]:
strategy = OptionStrategy(
    underlying='PLTR',
    s0=30.62,
    r=0.0396
)

strategy.add_leg(
    contract_type='call',
    strike=31,
    contract_price=0.45,
    iv=0.55,
    greeks=greeks_dict,
    lot_size=1,
    expiration=datetime(2024, 8, 23)
)

In [42]:
s_min = round(strategy.s0 * 0.99, 2)
s_max = round(strategy.s0 * 1.01, 2)
price_range = np.arange(s_min, s_max, .05)
price_difference = price_range - strategy.s0
adjusted_delta = strategy.net_greeks.delta + price_difference * strategy.net_greeks.gamma
new_value = strategy.net_value + price_difference * adjusted_delta
pnl = new_value - strategy.net_value
delta_pnl = pd.DataFrame((price_range, pnl)).T
delta_pnl

        0         1
0   30.31 -0.072168
1   30.36 -0.062088
2   30.41 -0.051408
3   30.46 -0.040128
4   30.51 -0.028248
5   30.56 -0.015768
6   30.61 -0.002688
7   30.66  0.010992
8   30.71  0.025272
9   30.76  0.040152
10  30.81  0.055632
11  30.86  0.071712
12  30.91  0.088392